@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import "root-vars.css";
@import "carousel.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.25rem;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    height: 100svh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.loading {
    background-color: white;
    position: relative;
}

.loading  * {
    z-index: -1;
    display: none;
}

.loading:after {
    content: "";
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 4rem;
    left: calc(50vw - ((10rem + 2rem) / 2));
    background-color: unset;
    border: 2rem solid var(--ligth-blue);
    border-top-color: var(--alt-blue);
    border-radius: 50%;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(365deg);
    }
}

:where(header, card, footer) :where(a, a:visited, li, p, span, h2, h3, h4, h5, h6) {
    color: var(--text-dark-bg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

main > div > h1:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: initial;
}

header {
    background-color: var(--main-blue);
    padding-inline: 4rem;
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

#menu > button {
    display: none;
}

nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

#menu-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#site_search {
    position: relative;
    display: flex;
    gap: 0;
    height: calc(var(--site-search-height) * 1.75);
    border: white solid;
    border-radius: .5rem;
}

#site_search > input {
    flex-grow: 1;
    height: 100%;
    border: none;
}

#site_search > button {
    height: 100%;
    width: min-content;
    background-color: var(--main-blue);
    border: none;
    border-left: white solid;
    border-radius: 0 .5rem .5rem 0;
    line-height: 0;
    padding: .2rem;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

#site_search > button:where(:hover, :focus-within) {
    background-color: var(--alt-blue);

}

#site_search > button > img{
    /*height: var(--site-search-height);*/
    /*width: auto;*/
    filter: invert(100%);
}

nav a {
    padding: .25rem;
}

nav > a:not([aria-current="page"]):where(:hover, :focus, :focus-visible) {
    text-decoration: none;
    background-color: var(--alt-blue);
    border-radius: .5rem;
}

a[aria-current="page"] {
    text-decoration: none;
}

.logo {
    align-self: center;
    font-size: 2rem;
    text-decoration: unset;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
    gap: 61px;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    font-size: 0;
    border: none;
    background-color: unset;
    left: 0;
    top: 0;
}

div:has(h1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--page-gap);
}

h1 {
    font-size: 3rem;
}

.flipp {
    transform: rotate(180deg);
}

.pillshape {
    padding: .5rem 1rem;
    border: .1rem solid black ;
    border-radius: 1rem 1rem 1rem 1rem/ 50% 50% 50% 50%;
    text-align: center;
}

.articles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--page-gap);
}

fieldset[aria-label="filter tags"] {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-auto-flow: column;
    border: none;
    gap: .25rem;
}

.tag,
#more_articles_btn {
    max-width: min-content !important;
    margin: .25rem;
    background-color: var(--ligth-blue);
    white-space: nowrap;
}

.tag.checked,
:is(.tag, #more_articles_btn):where(:hover, :focus, :focus-visible) {
    background-color: var(--alt-blue);
    color: var(--text-dark-bg);
}

.tag[disabled="true"]:where(:hover, :focus),
.tag[disabled="true"] {
    background-color: hsl(0, 0%, 25%);
    color: var(--text-dark-bg);
}

.articles > div {
    display: grid;
    grid-template-columns: repeat(5, var(--card-size));
    grid-auto-rows: var(--card-size);
    gap: var(--card-grid-gap);
}

.card {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto repeat(2, min-content);
    background-color: var(--main-blue);
    justify-items: center;
    overflow: hidden;
    padding-bottom: .5rem;
    gap: .5rem;
    text-decoration: unset;
}

.card:where(:hover, :focus) {
    background-color: var(--alt-blue);
}

.card > :where(h2, h3, h4) {
    padding-top: .5rem;
}

.card > :not(img) {
    align-self: center;
    justify-self: center;
    color: #ffffff;
}

.card > img{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.card > span > img[alt="time"] {
    height: auto;
    width: 1.15rem;
}

.card[data-style="large"] {
    grid-column: span 2;
    grid-row: span 2;
}

.card[data-style="wide"] {
    grid-column: span 2;
}

.post-card > p{
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding-inline: 1rem;
}

.card.error {
    background-color: brown;
}

.card.error > h3 {
    text-align: center;
}

.post-card[data-style="large"] > p{
    -webkit-line-clamp: 4;
}

.sosial-links[data-style="on-page"] {
    display: flex;
    gap: 23px;
    align-items: center;
}

.sosial-links[data-style="on-page"] > li > a > img {
    width: 2.5rem;
}

footer {
    background-color: var(--main-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    padding-block: 1rem;
}

footer > * {
    display: flex;
    gap: 1rem;
}

.sosial-links {
    list-style: none;
}

 .sosial-links > li > a > img {
     width: 1.75rem;
     height: auto;
 }

@media only screen and (max-width: 1200px) {
    .articles > div {
        grid-template-columns: repeat(3, var(--card-size));
        grid-auto-flow: dense;
    }
}

@media only screen and (max-width: 1000px) {
    .articles > div {
        grid-template-columns: repeat(3, var(--card-size));
        grid-auto-flow: dense;
    }
}

@media only screen and (max-width: 700px) {
    header {
        padding-inline: 1rem;
        position: relative;
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        height: min-content;
        width: min-content;
    }

    #menu > button {
        display: flex;
        border: unset;
        border-radius: .5rem;
        height: 2rem;
        width: 2rem;
        background-color: var(--main-blue);
    }

    #menu > button:where(:hover, :focus-visible) {
        background-color: var(--alt-blue);
    }

    #menu > button > img {
        height: 80%;
        width: auto;
        align-self: center;
        margin-inline: auto;
    }

    #menu-div {
        position: absolute;
        top: var(--menu-position-top);
        right: 0;
        padding: 1rem .5rem;
        width: min-content;
        height: min-content;
        background-color: var(--alt-blue);
    }

    #menu-div > nav {
        display: flex;
        flex-direction: column;
    }

    .articles {
        align-items: center;
        position: sticky;
        right: 0;
    }

    .articles > div {
        grid-template-columns: repeat(2, var(--card-size));
        grid-auto-flow: dense;
    }


}

@media only screen and (max-width: 550px) {
    fieldset[aria-label="filter tags"] {
        overflow-x: scroll;
        width: 100%;
        display: flex;
        height: 6.5rem;
        flex-flow: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    fieldset[aria-label="filter tags"] > * {
        flex-shrink: 2;
    }
}

*[hidden] {
    display: none !important;
}