:root {
    /*TODO: fix contrast isues on cards*/
    --main-blue: hsl(200, 70%, 25%);
    --alt-blue: hsl(200, 50%, 40%);
    --ligth-blue: hsl(200, 60%, 80%);
    --text-ligth-bg: hsl(0deg, 0%, 0%);
    --text-dark-bg: hsl(0deg, 0%, 100%);

    --menu-position-top: 201px;
    --zoom-img-left: 50%;
    --zoom-img-top: 50%;

    --card-size: 12.5rem;
    --card-gap: .5rem;
    --card-grid-gap: 1.625rem;
    --page-gap: 1.25rem;
    --font-size: 1.25rem;

    --site-search-height: 1rem;
    --ingredients-list-first-column: auto;
}

@media only screen and (max-width: 500px) {
    :root {
        --card-size: 9.4rem;
        --card-gap: .5rem;
        --card-grid-gap: 0.625rem;
        --page-gap: 1.25rem;
        --font-size: 1rem;
    }
}